<div class="content mat-elevation-z4">
  <div fxLayout="row wrap" fxLayoutGap="20px grid" class="contact-list" fxLayoutAlign="center start">
    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25">
      <mat-card class="contact-item">
        <mat-card-title>Projeto de Cardapio</mat-card-title>
        <mat-card-content>
          <img src="assets/cardapio.png" alt="cardapio" class="card-image">
          <a href="https://cardapio-two-self.vercel.app/" target="_blank">Acesse o link</a>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25">
      <mat-card class="contact-item">
        <mat-card-title>Projeto de Cardapio</mat-card-title>
        <mat-card-content>
          <img src="assets/cardapio.png" alt="cardapio" class="card-image">
          <a href="https://cardapio-two-self.vercel.app/" target="_blank">Acesse o link</a>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25">
      <mat-card class="contact-item">
        <mat-card-title>Projeto de Cardapio</mat-card-title>
        <mat-card-content>
          <img src="assets/cardapio.png" alt="cardapio" class="card-image">
          <a href="https://cardapio-two-self.vercel.app/" target="_blank">Acesse o link</a>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25">
      <mat-card class="contact-item">
        <mat-card-title>Projeto de Cardapio</mat-card-title>
        <mat-card-content>
          <img src="assets/cardapio.png" alt="cardapio" class="card-image">
          <a href="https://cardapio-two-self.vercel.app/" target="_blank">Acesse o link</a>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25">
      <mat-card class="contact-item">
        <mat-card-title>Projeto de Cardapio</mat-card-title>
        <mat-card-content>
          <img src="assets/cardapio.png" alt="cardapio" class="card-image">
          <a href="https://cardapio-two-self.vercel.app/" target="_blank">Acesse o link</a>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25">
      <mat-card class="contact-item">
        <mat-card-title>Projeto de Cardapio</mat-card-title>
        <mat-card-content>
          <img src="assets/cardapio.png" alt="cardapio" class="card-image">
          <a href="https://cardapio-two-self.vercel.app/" target="_blank">Acesse o link</a>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
