<div class="content mat-elevation-z4">
  <app-toolbar-title title="Projetos" icon="fa-diagram-project">
  </app-toolbar-title>

  <p class="description">
    Aqui estão alguns dos meus projetos desenvolvidos com Angular e NextJS.
    Todos os códigos estão disponíveis no meu repositório GitHub.
  </p>


  <div fxLayout="row wrap" fxLayoutGap="20px grid" class="contact-list" fxLayoutAlign="center start">
    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="30">
      <mat-card class="contact-item">
        <a class="contact-link" href="https://cardapio-two-self.vercel.app/" target="_blank">
          <mat-card-subtitle class="subtitle">Projeto de Cardapio</mat-card-subtitle>
          <mat-card-content>
            <img src="assets/cardapio.png" alt="cardapio" class="card-image">
            <mat-card-title class="title">Sistema Web com NextJS</mat-card-title>
          </mat-card-content>
        </a>
      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="30">
      <mat-card class="contact-item">
        <a class="contact-link" href="https://todo-list-16-beige.vercel.app/" target="_blank">
          <mat-card-subtitle class="subtitle">Projeto de tarefas</mat-card-subtitle>
          <mat-card-content>
            <img src="assets/to-do-list.png" alt="to-do-list" class="card-image">
            <mat-card-title class="title">Sistema Web com Angular</mat-card-title>
          </mat-card-content>
        </a>
      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="30">
      <mat-card class="contact-item">
        <a class="contact-link" href="https://crud-produtos-nu.vercel.app/login" target="_blank">
          <mat-card-subtitle class="subtitle">CRUD Produtos Simples</mat-card-subtitle>
          <mat-card-content>
            <img src="assets/crudprodutos.png" alt="cardapio" class="card-image">
            <mat-card-title class="title">Sistema Web com Angular</mat-card-title>
          </mat-card-content>
        </a>
      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="30">
      <mat-card class="contact-item">
        <a class="contact-link" href="https://crud-usuarios-seven.vercel.app/" target="_blank">
          <mat-card-subtitle class="subtitle">CRUD Usuarios Simples</mat-card-subtitle>
          <mat-card-content>
            <img src="assets/crudusuarios.png" alt="crudusuarios" class="card-image">
            <mat-card-title class="title">Sistema Web com Angular</mat-card-title>
          </mat-card-content>
        </a>
      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="30">
      <mat-card class="contact-item">
        <a class="contact-link" href="https://www.codeexpress.net/" target="_blank">
          <mat-card-subtitle class="subtitle">CodeExpress</mat-card-subtitle>
          <mat-card-content>
            <img src="assets/codeexprees.png" alt="devcontrole" class="card-image">
            <mat-card-title class="title">Sistema Web com Angular</mat-card-title>
          </mat-card-content>
        </a>
      </mat-card>
    </div>


    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="30">
      <mat-card class="contact-item">
        <a class="contact-link" href="https://estudo-beta.vercel.app/" target="_blank">
          <mat-card-subtitle class="subtitle">Gerenciamento de Tarefas</mat-card-subtitle>
          <mat-card-content>
            <img src="assets/tarefas.png" alt="devcontrole" class="card-image">
            <mat-card-title class="title">Sistema Web com NextJS</mat-card-title>
          </mat-card-content>
        </a>
      </mat-card>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button color="primary">
        <a href="https://github.com/DaniloFrancisquete" target="_blank" style="text-decoration: none; color: white;">
          Ver repositório no GitHub
        </a>
      </button>
    </div>


  </div>
</div>
