/* cover-letter.component.css */
.cover-card {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

mat-card-header {
  text-align: center;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e3a8a; /* cor azul destacada */
}

mat-card-subtitle {
  font-size: 18px;
  color: #666;
}

mat-card-content p {
  line-height: 1.6;
  font-size: 16px;
  color: #333;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 20px;
}
