<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-certificate">
  </app-toolbar-title>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/logica.jpg" alt="logica" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> Lógica de Programação Essencial</mat-card-title>
        <mat-card-content>
          Carga horária de 4 horas
        </mat-card-content>
        <mat-card-content>
          28/02/2023
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/github.jpg" alt="github" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> Trabalhando com Braches no GitHub</mat-card-title>
        <mat-card-content>
          Carga horária de 3 horas
        </mat-card-content>
        <mat-card-content>
          09/03/2023
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/html.jpg" alt="html" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> HTM5 </mat-card-title>
        <mat-card-content>
          Carga horária de 40 horas
        </mat-card-content>
        <mat-card-content>
          05/05/2023
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/java.jpg" alt="java" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> Java Básico</mat-card-title>
        <mat-card-content>
          Carga horária de 40 horas
        </mat-card-content>
        <mat-card-content>
          10/08/2023
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/msyql.jpg" alt="mysq" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> MYSQL </mat-card-title>
        <mat-card-content>
          Carga horária de 40 horas
        </mat-card-content>
        <mat-card-content>
          17/06/2023
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/api.jpg" alt="api" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> Desenvolvimento de Web APIs .NET Core com MySQL </mat-card-title>
        <mat-card-content>
          Carga horária de 5 horas
        </mat-card-content>
        <mat-card-content>
          09/10/2023
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/rgrx.jpg" alt="rgrx" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> Aprendendo Redux utilizando NGRX com Angualr 13+ </mat-card-title>
        <mat-card-content>
          Carga horária de 4 horas
        </mat-card-content>
        <mat-card-content>
          19/01/2024
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/figma.jpg" alt="Imagem do Curso de Lógica de Programação" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> Construa protótipos rápidos e funcionais com Figma </mat-card-title>
        <mat-card-content>
          Carga horária de 3 horas
        </mat-card-content>
        <mat-card-content>
          02/02/2024
        </mat-card-content>
        <br>

      </mat-card>
    </div>


    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/nextjs.jpg" alt="nexts" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> NextJs do zero ao avançado na pratica 2024 </mat-card-title>
        <mat-card-content>
          Carga horária de 25 horas
        </mat-card-content>
        <mat-card-content>
          10/05/2024
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/angular.jpg" alt="angular" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> Formação Angular 17 - 2024 </mat-card-title>
        <mat-card-content>
          Carga horária de 18 horas
        </mat-card-content>
        <mat-card-content>
          30/07/2024
        </mat-card-content>
        <br>

      </mat-card>
    </div>

    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
      <mat-card class="mat-elevation-z4 fixed-card">
        <img mat-card-image src="assets/angularmaterial.jpg" alt="angular material" loading="lazy">
        <mat-card-subtitle>
          Certificados
        </mat-card-subtitle>
        <mat-card-title> RxJs + Angular Material - Front-end  Reativo do Zero </mat-card-title>
        <mat-card-content>
          Carga horária de 15 horas
        </mat-card-content>
        <mat-card-content>
          29/08/2024
        </mat-card-content>
        <br>

      </mat-card>
    </div>

  </div>
</div>
