.form-fild-category {
  @media (min-width: 600px ) {
    padding-right: 10px;
  }
  margin-top: 10px;
  }



  mat-card {
    border-radius: 0;
    margin-bottom: 4px;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 /25%);
    transition: .3s transform cubic-bezier(.155,1.105, .295,1.12),
                .3s box-shadow,3s -wedkit-transform cubic-bezier(.155, 1.105,.295, 1.12);

    cursor: pointer;
     &-title{
      font-size: 20px;
      margin-left: 10px;
      line-height: 1.0

    }

    &-subtitle {
      padding: 8px;
    }

    &-content{
      margin-top: 10px;
    }
  }

  mat-card:hover {
    transform: scale(1.01);
  }

  .fixed-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .fixed-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .fixed-card img {
    width: 100%; /* Ocupa 100% da largura do container */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .fixed-card img:hover {
    transform: scale(1); /* Assume o tamanho original */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
    position: relative;
    z-index: 10; /* Garante que a imagem fique acima de outros elementos ao expandir */
  }
